.parent{
    display: flex;
    height: 300px;
}

.child{
    width: 100px; 
    height: 100px; 
    margin: auto;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

header {
    background-color: black;
}

body {
    background-color: grey;
}

p {
    text-align: center;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 {
    text-align: left;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

footer {
    background-color: black;
    color: white;
}
