.parent{
    display: flex;
    height: 300px;
}

.child{
    width: 100px; 
    height: 100px; 
    margin: auto;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

header {
    background-color: black;
}

h1 {
    text-align: left;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

nav {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    background-color: black;
}

nav {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p {
    text-align: center;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

a:link {
    color: grey;
}

a:visited {
    color: white;
}

a:hover{
    color: #1DB954;
}

a:active{
    color: #1DB954;
}

section {
    background-color: white;
    color: grey;
}

aside {
    background-color: white;
    color: grey;
}

footer {
    background-color: black;
    color: white;
}