header {
    background-color: black;
}

body {
    background-color: red;
}

p {
    text-align: center;
    color: gray;
}

h1 {
    text-align: left;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

footer {
    background-color: black;
    color: white;
}
